<section class="navbar-section">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img src="/assets/pizza.png" height="28" alt="CoolBrand" />
      </a>
      <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
          <a href="/productos" class="nav-item nav-link">Productos</a>
          <a href="/carrito" class="nav-item nav-link">Carrito</a>
        </div>
        <div class="navbar-nav ms-auto"></div>
      </div>
    </div>
  </nav>
  
</section>

<section class="content-section">
  <router-outlet></router-outlet>
</section>

<section class="footer-section">
  <app-footer></app-footer>
</section>
