<p-dataView style="display: flex; justify-content: center;" [value]="articulos" [paginator]="true" [rows]="1" [style]="{'max-height': '400px', 'overflow-y': 'scroll'}">
  <ng-template let-articulo pTemplate="listItem">
    <div class="card">
      <div style="display: flex;justify-content: center;" class="input-group-append">
        <img class="card-img-top" [src]="articulo.imagen ? articulo.imagen : '/assets/default-product.png'" style="border-radius: 50%;overflow: hidden; width: 50px;height: 50px;" alt="Imagen del producto">
      </div>
      <div class="card-body">
        <h5 style="display: flex;justify-content: center;" class="card-title">{{ articulo.descripcion }}</h5>
        <p style="display: flex;justify-content: center;" class="card-text">Precio: {{ articulo.precio }}</p>
        <p style="display: flex;justify-content: center;" class="card-text">Stock: {{ articulo.stock }}</p>
        <div style="display: flex;justify-content: center;" class="input-group">
          <input type="number" id="cantidaddeproductos" min="1" value="1" [max]="articulo.stock" #cantidadInput>
          <div style="display: flex;justify-content: center;" class="input-group-append">
            <button class="btn btn-primary" (click)="agregarAlCarrito(articulo, cantidadInput.value)">
              <i class="bi bi-cart-fill"></i> Agregar al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>

