<footer class="footer py-4 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col" style="display: flex; flex-direction: column;">
        <h5>Información de contacto</h5>
        <p>Teléfono: 6871391372</p>
        <p>Email: julioparo.888@gmail.com</p>
      </div>
      <div class="col" style="display: flex; flex-direction: column;">
        <h5>Enlaces</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.Github.com/screamsixx" class="text-white">Github.com/screamsixx</a></li>
          <li><a href="https://www.youtube.com/@pachecorosalesjuliocesar6908" class="text-white">https://www.youtube.com/@pachecorosalesjuliocesar6908</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
